$main-color: #333;
$active-color: #000;

.breadcrumb{
  .breadcrumb-item{
    a{
      font-size: 14px;
      color: $main-color;
    }
    &.active{
      color: $active-color;
      font-weight: bold;
    }
    &:not(:first-child):before {
      content: ">";
      display: inline-block;
      margin: 0px 10px;
      color: $main-color;
      padding: 0;
      height: 0px;
      width: 8px;
    }
  }
}