form.filter{
  label {
    display: block;
    width: 100%;
  }
  label, input, select {
    width: 100%;
  }

  .filter-block{
    margin-bottom: 25px;
  }
  .range-info{
    div{
      width: 45%;
      display: inline-block;
    }
  }

  input.range,  input.price_range{
    border: none;
    width: 60px;
    margin: 5px 10px;
    box-sizing: border-box;
  }
  div.ui-slider {
    margin-bottom: 5px;
  }

  .slider-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content{
    overflow: hidden;
  }
  .ui-slider-horizontal {
    height:10px;
  }
  .ui-widget.ui-widget-content {
    border: 1.5px solid #f50217;
  }
  .ui-widget-content{
    background: #eeff00;
  }
  .ui-widget-header{
    background: #eeff00;
  }

  .ui-slider .ui-slider-handle {
    width: 15px;
    height: 10px;
  }
  .ui-slider-horizontal{
    .ui-slider-handle {
      top: -1px;
      &.first{
        margin-left: -5px;
      }
      &.last{
        margin-right: -5px;
      }
    }
  }
  .ui-slider-handle.ui-corner-all.ui-state-default{
    border-color: transparent;
    background-color: transparent;
    background: none;
    &:before{
      display: block;
      content: ' ';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: #f50217 transparent transparent transparent;
    }
    &:after{
      display: block;
      position: absolute;
      content: " ";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0px 6px 6px 6px;
      border-color: transparent transparent #f50217 transparent;
      bottom: 0px;
    }
  }

}