.unpadding {
    padding: 0 !important
}

a {
    outline: 0
}

input:focus {
    outline: 0
}

.outlinenone {
    outline: 0
}

.outlinenone:active, .outlinenone:focus, .outlinenone:hover, .outlinenone:visited {
    outline: 0
}

.lastli-unmargin li:last-of-type {
    margin-right: 0
}

body {
    font-family: 'PT Sans', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

header {
    padding-top: 20px;
    display: table;
    width: 100%
}

.phones {
    color: #000;
    display: table;
    padding-left: 30px;
    background: transparent url(../img/call-icon.svg) no-repeat scroll left center;
    margin-top: 26px
}

.phones li {
    float: left;
    list-style: none;
    letter-spacing: .8px;
    line-height: 21px;
    margin-right: 3px
}
.phones li a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.8px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}
.phones li span a {
    font-weight: bold;
}
.phones li a:hover {
    color: #000000;
    text-decoration: none;
}
.phones li .phones_bold {
    font-weight: 700;
    letter-spacing: .9px
}

.phones li:last-of-type {
    margin-right: 0
}

.searchform__searchfield {
    width: 100%;
    max-width: 296px;
    padding-left: 35px;
    height: 26px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: solid 1px #343434;
    background: transparent url(../img/search-icon.svg) no-repeat scroll 14px center;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: .8px;
    text-align: left;
    color: #000
}

.headercontacts {
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: .9px;
    color: #000;
    display: table;
    float: right
}

.headercontacts_adress {
    margin-top: 26px;
    background: transparent url(/img/place-icon.svg) no-repeat scroll left center
}

.headercontacts_work-hours {
    background: transparent url(/img/worktime-icon.svg) no-repeat scroll left center
}

.searchform__searchfield::-webkit-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 12px;
    letter-spacing: .9px;
    color: #000
}

.searchform__searchfield::-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: .9px;
    color: #000
}

.searchform__searchfield:-ms-input-placeholder {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: .9px;
    color: #000
}

.searchform__searchfield:-moz-placeholder {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: .9px;
    color: #000
}

.mainmenu {
    width: 100%;
    background: #343434;
    margin-top: 23px
}

.mainmenu .navbar-default {
    background: #343434;
    border: none
}

.mainmenu .navbar-static-top {
    border: none
}

.mainmenu .navbar-collapse {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #343434
}

.mainmenu .navbar-collapse .navbar-nav .active a {
    background: #666
}

.mainmenu .navbar-collapse .navbar-nav a {
    text-shadow: none;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: .9px;
    text-align: center;
    color: #fff;
    text-transform: uppercase
}

.mainmenu .navbar-collapse .navbar-nav a:active, .mainmenu .navbar-collapse .navbar-nav a:focus, .mainmenu .navbar-collapse .navbar-nav a:hover, .mainmenu .navbar-collapse .navbar-nav a:visited {
    font-weight: 700;
    color: #fff;
    text-decoration: none
}

.mainmenu .navbar-collapse .navbar-nav .open a {
    background: #666;
    -webkit-box-shadow: none;
    box-shadow: none
}

.mainmenu .navbar-collapse .navbar-nav .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #666
}

.mainmenu .navbar-collapse .navbar-nav .dropdown-menu a {
    text-align: left
}

.mainmenu .navbar-static-top {
    margin-bottom: 0
}

.contact-page__row a{
    color: black;
}