form.filter label {
  display: block;
  width: 100%;
}

form.filter label,
form.filter input,
form.filter select {
  width: 100%;
}

form.filter .filter-block {
  margin-bottom: 25px;
}

form.filter .range-info div {
  width: 45%;
  display: inline-block;
}

form.filter input.range,
form.filter input.price_range {
  border: none;
  width: 60px;
  margin: 5px 10px;
  box-sizing: border-box;
}

form.filter div.ui-slider {
  margin-bottom: 5px;
}

form.filter .slider-range.ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
  overflow: hidden;
}

form.filter .ui-slider-horizontal {
  height: 10px;
}

form.filter .ui-widget.ui-widget-content {
  border: 1.5px solid #f50217;
}

form.filter .ui-widget-content {
  background: #eeff00;
}

form.filter .ui-widget-header {
  background: #eeff00;
}

form.filter .ui-slider .ui-slider-handle {
  width: 15px;
  height: 10px;
}

form.filter .ui-slider-horizontal .ui-slider-handle {
  top: -1px;
}

form.filter .ui-slider-horizontal .ui-slider-handle.first {
  margin-left: -5px;
}

form.filter .ui-slider-horizontal .ui-slider-handle.last {
  margin-right: -5px;
}

form.filter .ui-slider-handle.ui-corner-all.ui-state-default {
  border-color: transparent;
  background-color: transparent;
  background: none;
}

form.filter .ui-slider-handle.ui-corner-all.ui-state-default:before {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: #f50217 transparent transparent transparent;
}

form.filter .ui-slider-handle.ui-corner-all.ui-state-default:after {
  display: block;
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 6px 6px 6px;
  border-color: transparent transparent #f50217 transparent;
  bottom: 0px;
}

