@import url('reset.css');
@import url('fonts.css');

body {
color: #d8ddcd;
font: 14px Arial, Helvetica, sans-serif;
background: url('/img/bg.png') repeat 0 0;
}

a {color: #ffeb9b; text-decoration: none;}
a:hover {text-decoration: underline;}

h1, h2 , h3 {
color: #a7bc82;
font-family: 'Lobster', cursive;
}

h1 {
padding-bottom: 25px;
font-size: 35px;
}

h2 {
padding-bottom: 20px;
font-size: 30px;
}

h3 {
padding-bottom: 10px;
font-size: 20px;
}

.text {padding-bottom: 20px; line-height: 18px;}
.text p {padding-bottom: 20px;}
.text ol {padding: 0 0 10px 17px;}
.text li {padding-bottom: 10px;}
.text ul li {padding-left: 17px; list-style: circle;}

.wrap {
width: 960px;
margin: 0 auto;
}

.header {
padding-top: 15px;
}

.logo {
display: block;
width: 80px;
height: 124px;
margin: 0 auto 7px auto; 
background: url('/img/logo.png') no-repeat 0 0;
}

.slog {
display: block;
width: 494px;
height: 44px;
margin: 0 auto 25px auto; 
background: url('/img/slog.png') no-repeat 0 0;
}

.intro {
padding-bottom: 35px;
background: url('/img/shade01.png') no-repeat 0 100%;
}

.nav {
padding-bottom: 9px;
background: url('/img/shade02.png') no-repeat 0 100%;
}

.nav .tm {
height: 54px;
background: url('/img/nav01.png') no-repeat 0 100%;
}

.tm li {
padding-right: 3px;
float: left;
}

.tm a {
display: block;
height: 41px;
padding-top: 13px;
color: #ffeb9b;
font: 20px Tahoma, Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: none;
}

.tm a:hover {
color: #fff;
background-image: url('/img/nav02.png');
background-repeat: no-repeat;
text-decoration: none;
}

.tm .nav01 {width: 111px;}
.tm .nav02 {width: 148px;}
.tm .nav03 {width: 98px;}
.tm .nav04 {width: 150px;}
.tm .nav05 {width: 211px;}
.tm .nav06 {width: 96px;}
.tm .nav07 {width: 127px; padding: 0;}

.tm .nav01 a:hover {background-position: 0 0;}
.tm .nav02 a:hover {background-position: -114px 0;}
.tm .nav03 a:hover {background-position: -265px 0;}
.tm .nav04 a:hover {background-position: -366px 0;}
.tm .nav05 a:hover {background-position: -519px 0;}
.tm .nav06 a:hover {background-position: -733px 0;}
.tm .nav07 a:hover {background-position: -832px 0;}

.content {
padding: 30px 0 40px 0;
overflow: hidden;
zoom: 1;
}

.aside {
width: 260px;
float: left;
}

.aside h2 {
padding-left: 20px;
font-size: 28px;
}

.nav-lt {
padding-bottom: 2px;
margin-bottom: 50px;
background: url('/img/dash.png') repeat-x 0 100%;
}

.nav-lt .parent {
padding: 16px 0 14px 20px;
background: url('/img/dash.png') repeat-x 0 0;
overflow: hidden;
zoom: 1;
}

.nav-lt li a {
font-size: 16px;
float: left;
}

.nav-lt li .active {
color: #a7bc82;
font-weight: bold;
text-decoration: none;
}

.nav-lt li ul {
clear: both;
padding-top: 5px;
}

.nav-lt li ul {padding-top: 0\9}
.nav-lt li ul {margin-top: -10px\9}

.nav-lt li ul li {
padding: 6px 0;
}

.nav-lt li ul li a {
font-size: 14px;
float: none;
}

.nav-lt li ul li span {
padding: 4px;
}

.nav-lt li ul li .cur {
background: #162603;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.nav-lt li ul li .cur a {
color: #a7bc82;
text-decoration: none;
}

.nav-lt li .link {
display: block;
width: 18px;
height: 13px;
margin-top: 6px;
float: right;
background: url('/img/next.png') no-repeat 0 0;
}

.btns {
padding: 0 0 20px 15px;
}

.btns a {
display: block;
width: 234px;
height: 54px;
margin-bottom: 20px; 
}

.btn01 {background: url('/img/btn01.png') no-repeat 0 0;}
.btn02 {background: url('/img/btn02.png') no-repeat 0 0;}

.btns a:hover {
background-position: 0 -54px;
}

.cside {
width: 640px;
float: right;
}

.phones {
width: 220px;
padding-left: 20px;
text-align: center; 
}

.phones .tel {
height: 110px;
padding-top: 19px;
color: #ffeb9b;
font-size: 23px;
font-family: 'Lobster', cursive;
background: url('/img/tel.png') no-repeat 0 0;
overflow: hidden;
zoom: 1;
}

.phones .tel p {
padding-bottom: 3px;
}

.frame {
-moz-box-shadow: 0 5px 5px #111;
-webkit-box-shadow: 0 5px 5px #111;
box-shadow: 0 5px 5px #111;
}

.items01 {
width: 700px;
}

.items01 .item {
width: 300px;
height: 305px;
margin-right: 40px;
float: left;
text-align: center;
}

.items01 .item .frame {
width: 269px;
height: 194px;
padding: 15px;
margin-bottom: 15px;
background: url('/img/frame01.jpg') no-repeat 0 0;
}

.items01 .item .frame img {
width: 269px;
height: 194px;
}

.items011 {
width: 700px;
}

.items011 .item {
width: 300px;
height: 305px;
margin-right: 40px;
float: left;
text-align: center;
}

.items011 .item .frame {
width: 269px;
height: 194px;
padding: 15px;
margin-bottom: 15px;
background: url('/img/frame01.jpg') no-repeat 0 0;
}

.items011 .item .frame img {
width: 269px;
height: 194px;
}


.footer {
padding: 32px 25px 30px 25px;
background: url('/img/dash.png') repeat-x 0 0;
overflow: hidden;
zoom: 1;
}

.ft-lt {
width: 400px;
float: left;
}

.ft-code { float:left; margin:0 auto;}

.ft-rt {
float: right;
}

.path {
padding: 10px 0;
margin-bottom: 40px;
border-bottom: 1px solid #568029;
}

.path .cur {
color: #9eb37a;
}

.path img {
margin: 0 2px;
}

.path a {
color: #557f29;
text-decoration: none;
}

.path a:hover {
text-decoration: underline;
}

.arts {
margin-top: -40px;
}

.article {
padding: 35px 0 0 0;
border-bottom: 1px solid #3d5a13;
}

.article .title {
padding-bottom: 10px;
font-size: 20px;
}

.bord {
border-top: 1px solid #3d5a13;
}

.page-control {
clear: both;
height: 26px;
padding: 20px 0 30px 0;
overflow: hidden;
zoom: 1;
}

.prev {
width: 55px;
height: 22px;
padding: 4px 0 0 30px;
float: left;
background: #162603 url('/img/prev.png') no-repeat 0 50%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.next {
width: 50px;
height: 22px;
padding: 4px 30px 0 5px;
float: right;
background: #162603 url('/img/next.png') no-repeat 100% 50%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.paging {
position: relative;
overflow: hidden;
zoom: 1;
}

.paging:after {
content: '';
display: block;
clear: both;
}

.paging_left {
position: relative;
right: 50%;
float: right;
}

.paging_right {
position: relative;
z-index: 1;
right: -50%;
}

.paging ul {
padding: 0;
margin: 0;
list-style: none;
}

.paging li {
float: left;
padding: 0 4px;
}

.paging a {
display: block;
height: 22px;
padding: 2px 7px 0 7px;
margin: 2px 0 0 0;
float: left;
line-height: 21px;
background: #162603;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.paging .active a {
color: #162603;
text-decoration: none;
background: #91a967;
}

.back {
height: 26px;
padding-bottom: 30px;
overflow: hidden;
zoom: 1;
}

.back a {
height: 22px;
padding: 4px 10px 0 30px;
float: left;
background: #162603 url('/img/prev.png') no-repeat 0 50%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

.items02 {
width: 700px;
}

.items02 .item {
width: 300px;
height: 275px;
margin: 0 40px 34px 0;
float: left;
text-align: center;
}

.items02 .item .frame {
width: 270px;
height: 245px;
padding: 15px;
background: url('/img/frame02.jpg') no-repeat 0 0;
}

.items02 .item .frame img {
width: 269px;
height: 194px;
}

.items02 .item .frame .title {
height: 24px;
padding-top: 18px;
overflow: hidden;
zoom: 1;
}

.items02 .item .frame .title a {
color: #1c3104;
font-size: 20px;
text-decoration: underline;
}

.items02 .item .frame .title a:hover {
text-decoration: none;
}

.addr {
margin-bottom: 10px;
overflow: hidden;
zoom: 1;
}

.addr .contact {
width: 295px;
float: left;
font-weight: bold;
line-height: 18px;
}

.addr .frame  {
width: 307px;
height: 194px;
padding: 15px;
margin-bottom: 5px;
float: right;
background: url('/img/frame03.jpg') no-repeat 0 0;
}

.addr .frame img {
width: 307px;
height: 194px;
}

.hr {
padding-bottom: 50px;
margin-bottom: 50px;
border-bottom: 1px solid #3d5a13;
}

.map .frame  {
width: 609px;
height: 272px;
padding: 15px;
margin-bottom: 5px;
background: url('/img/frame04.jpg') no-repeat 0 0;
}

.map .frame img {
width: 609px;
height: 272px;
}

.forms table, .size, .compos {
width: 100%;
border: 0;
border-spacing: 0;
border-collapse: collapse;
}

.forms td {
padding-bottom: 13px;
}

.forms .col01 {
width: 155px;
}

.forms .inp01 {
width: 460px;
height: 26px;
padding: 10px 10px 0 10px;
background: url('/img/inp01.png') no-repeat 0 0;
}

.forms .inp02 {
width: 167px;
height: 26px;
padding: 10px 10px 0 10px;
background: url('/img/inp02.png') no-repeat 0 0;
}

.forms .inp01 input, .forms .inp02 input {
width: 100%;
padding: 0;
margin: 0;
color: #444;
font: 14px Arial, Helvetica, sans-serif;
border: 0;
background: none;
}

.forms .area {
width: 460px;
height: 161px;
padding: 10px;
background: url('/img/area.png') no-repeat 0 0;
}

.forms .area textarea {
width: 100%;
height: 161px;
padding: 0;
margin: 0;
color: #444;
font: 14px Arial, Helvetica, sans-serif;
border: 0;
background: none;
overflow: auto;
}

.code {
width: 183px;
height: 65px;
background: url('/img/code.png') no-repeat 0 0;
}

.captcha {
width: 156px;
padding-top: 20px;
float: left;
text-align: center;
}

.refresh {
display: block;
width: 26px;
height: 26px;
float: right;
}

.forms .button {
padding: 20px 0;
margin: 5px 0;
text-align: center;
border-top: 1px dashed #557e29;
border-bottom: 1px dashed #557e29;
}

.send {
width: 162px;
height: 54px;
padding: 0;
margin: 0;
border: 0;
background: url('/img/send.png') no-repeat 0 0;
cursor: pointer;
}

.send:hover {
background: url('/img/send.png') no-repeat 0 -54px;
}

.slide {
margin-bottom: 50px;
overflow: hidden;
zoom: 1; 
}

.slide .output .frame {
width: 611px;
height: 451px;
padding: 15px;
margin-bottom: 30px;
background: url('/img/frame06.jpg') no-repeat 0 0;
}

.slide .output .frame img {
width: 611px;
height: 451px;
}

.slide .preview {
width: 700px;
}

.slide .preview li {
padding-bottom: 5px;
margin-right: 34px;
float: left;
}

.slide .preview .frame {
width: 160px;
height: 113px;
padding: 15px;
background: url('/img/frame05.jpg') no-repeat 0 0;
}

.slide .preview .frame img {
width: 160px;
height: 113px;
}

.params {
padding-bottom: 40px;
margin-bottom: 40px;
border-bottom: 1px solid #3d5a13;
}

.size td {
height: 40px;
padding: 7px 0;
border-bottom: 1px dashed #557e29;
}

.size .first {
border-top: 1px dashed #557e29;
}

.size .col02 {
width: 100px;
text-align: right;
}

.compos td {
padding-bottom: 3px;
}

.compos .col01 {
width: 120px;
}

.items03 {
width: 700px;
}

.items03 .item {
width: 300px;
height: 129px;
margin: 0 40px 50px 0;
float: left;
overflow: hidden;
zoom: 1;
}

.items03 .item .frame {
width: 109px;
height: 109px;
padding: 10px;
margin-right: 15px;
float: left;
background: url('/img/frame07.jpg') no-repeat 0 0;
}

.items03 .item .frame img {
width: 109px;
height: 109px;
}

.items03 .descrip {
overflow:hidden;
zoom: 1;
}

.items03 .title {
color: #ffeb9b;
padding-bottom: 5px;
}

.items03 .sz span {
color: #73854c;
}

.search-block {
	text-align: right;
	margin-bottom: 30px;
}

.search-form {
	box-sizing: border-box;
	height: 36px;
	line-height: 36px;
	padding: 0 7px;
	width: 200px;
	border: 3px solid #90aa61;
	border-radius: 10px;
-webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:    inset 0px 2px 2px 0px rgba(0, 0, 0, 1);
box-shadow:         inset 0px 2px 2px 0px rgba(0, 0, 0, 1);
margin-right: 5px;
}

.search-button {
	height: 36px;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	background: #90aa61;
	border: 0;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	padding: 0 10px;
}