/** Goods categories / Product categories **/
.product_subcategory > td:nth-of-type(2) {
    padding-left: 30px !important;
}

/** Products list **/
    /* hide slug */
.products table thead th:nth-child(3),
.products table tbody td:nth-child(3),
    /* hide description */
.products table thead th:nth-child(7),
.products table tbody td:nth-child(7),
    /* hide main image */
.products table thead th:nth-child(8),
.products table tbody td:nth-child(8),
    /* hide alt text for main image */
.products table thead th:nth-child(9),
.products table tbody td:nth-child(9),
    /* hide title for main image */
.products table thead th:nth-child(10),
.products table tbody td:nth-child(10),
    /* hide title for cost */
.products table thead th:nth-child(17),
.products table tbody td:nth-child(17),
    /* hide title for height */
.products table thead th:nth-child(19),
.products table tbody td:nth-child(19),
    /* hide title for width */
.products table thead th:nth-child(18),
.products table tbody td:nth-child(18),
    /* hide title for long */
.products table thead th:nth-child(20),
.products table tbody td:nth-child(20),
    /* hide title for sleep place height */
.products table thead th:nth-child(21),
.products table tbody td:nth-child(21),
    /* hide title for sleep place width */
.products table thead th:nth-child(22),
.products table tbody td:nth-child(22),
    /* hide title for furniture type */
.products table thead th:nth-child(23),
.products table tbody td:nth-child(23),
    /* hide title for lifting mechanish */
.products table thead th:nth-child(24),
.products table tbody td:nth-child(24),
    /* hide title for color */
.products table thead th:nth-child(25),
.products table tbody td:nth-child(25)
{
    display: none;
}

/** Gallery **/
.image-block{
    height: 330px;
    position: relative;
    /* margin-top: 10px; */
    width: 300px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: #cccccc 0 10px 15px;
}
.btns-block{
    margin-top: 15px;
}
.view_type_block{
    height: 150px;
}

.fields_for_subproducts {
    display: none;
    margin-bottom: 5px;
}

.file_upload_group {
    /*float: left; */
    position: relative;
    /* margin-top: 10px; */
    width: 300px;
    background: #fff;
}
input.form-control-file {
    display: none;
}
.file_upload_group::after {
    content: "";
    clear: both;
}
.file_upload_group img {
    text-align: center;
    width: 100%;
    height: auto;
    box-shadow: gainsboro 0 10px 15px;
}
.form-group.image {
    width: 320px;
    float: left;
    position: relative;
    z-index: 1;
    border: solid 1px #cccccc;
    box-shadow: #cccccc 0 10px 15px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}
.form-group.image.deleting:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ff000026;
    z-index: 9;
    margin: -10px;
    border-radius: 10px;
    padding: 10px;
}

.form-group.image .item-msg {
    position: absolute;
    z-index: 10;
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    display: none;
}
.form-group.image .item-msg.success {
    color: #155724;
    background-color: #d4edda;
    border: #c3e6cb 1px solid;
}
.form-group.image .item-msg.fail {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form-group.image h3{
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-group.image input[type=text] {
    width: 100%;
    color: #505d69;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    height: 34px;
    padding: 6px 12px;
    border-radius: 3px;
    font-weight: 600;
}

.form-group.image input[type=text]::placeholder {
    color: #788591;
    font-weight: 500;
}

.btn-above-item-img{
    position: absolute;
    background: black;
    color: white;
    border: solid 4px white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    z-index: 3;
    top: 10px;
}
.index_number{
    left: 35px;
}
.index_number::-webkit-outer-spin-button,
.index_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.index_number[type=number] {
    -moz-appearance: textfield;
}

.btn-above-item-img .arrow {
    position: absolute;
    top: 50%;
    width: 50%;
    height: 50%;
    background: transparent;
    border-top: 4px solid white;
    border-right: 4px solid white;
    box-shadow: 0 0 0 lightgrey;
    transition: all 200ms ease;
}
.btn-above-item-img.arrow-btn-left{
    left: 5px;
}
.btn-above-item-img.arrow-btn-right{
    left: 65px;
}
.btn-above-item-img.arrow-btn-left .arrow {
    left: 7px;
    transform: translate3d(0,-50%,0) rotate(-135deg);
}
.btn-above-item-img.arrow-btn-right .arrow {
    right: 7px;
    transform: translate3d(0,-50%,0) rotate(45deg);
}
.btn-above-item-img .arrow:hover {
    border-color: orange;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}
.btn-above-item-img .arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-60%) rotate(45deg);
    width: 200%;
    height: 200%;
}

.clear_upload_img {
position: absolute;
right: 10px;
top: 10px;
background: black;
color: white;
border: solid 4px white;
border-radius: 100%;
width: 30px;
height: 30px;
text-align: center;
font-weight: bolder;
transform: rotate(45deg);
font-size: 14px;
z-index: 3;
}
.file_upload_group:hover,
.clear_upload_img:hover {
cursor: pointer;
}

.upload_file_label {
display: none;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
text-align: center;
align-items: center;
justify-content: center;
color: white;
background: rgba(0,0,0,0.55);
font-weight: 900;
border-radius: 15px;
}
.file_upload_group:hover .upload_file_label {
display: flex;
}
/*END photogallery */

.addingForm{
    margin: 0 0 30px 75px;
}
.addingForm #valueName, .addingForm #addingPropertyTitle{
    width: 300px;
}
.addingForm #addingPropertyValueType{
    height: 28px;
}form-group image
 .addingForm #addingPropertyOrder{
    width: 230px;
}

.voyager .table>tbody>tr:not(.additional-trow)>td,
.voyager .table>tbody>tr:not(.additional-trow)>th,
.voyager .table>tfoot>tr:not(.additional-trow)>td,
.voyager .table>tfoot>tr:not(.additional-trow)>th{
    border-color: #a0adba;
}

#filters-form span.select2{
    width: 100% !important;
}

/****** loader*****/
#floatingBarsG{
    position: absolute;
    width: 60px;
    height: 75px;
    margin: auto;
    z-index: 10;
    left: 40%;
    top: 40%;
}

.blockG{
    position:absolute;
    background-color:rgb(255,255,255);
    width:10px;
    height:23px;
    border-radius:8px 8px 0 0;
    -o-border-radius:8px 8px 0 0;
    -ms-border-radius:8px 8px 0 0;
    -webkit-border-radius:8px 8px 0 0;
    -moz-border-radius:8px 8px 0 0;
    transform:scale(0.4);
    -o-transform:scale(0.4);
    -ms-transform:scale(0.4);
    -webkit-transform:scale(0.4);
    -moz-transform:scale(0.4);
    animation-name:fadeG;
    -o-animation-name:fadeG;
    -ms-animation-name:fadeG;
    -webkit-animation-name:fadeG;
    -moz-animation-name:fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#rotateG_01{
    left:0;
    top:27px;
    animation-delay:0.45s;
    -o-animation-delay:0.45s;
    -ms-animation-delay:0.45s;
    -webkit-animation-delay:0.45s;
    -moz-animation-delay:0.45s;
    transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
}

#rotateG_02{
    left:8px;
    top:10px;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
}

#rotateG_03{
    left:25px;
    top:3px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
    transform:rotate(0deg);
    -o-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
}

#rotateG_04{
    right:8px;
    top:10px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:27px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
}

#rotateG_06{
    right:8px;
    bottom:7px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    transform:rotate(135deg);
    -o-transform:rotate(135deg);
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:25px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
}

#rotateG_08{
    left:8px;
    bottom:7px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    transform:rotate(-135deg);
    -o-transform:rotate(-135deg);
    -ms-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    -moz-transform:rotate(-135deg);
}



@keyframes fadeG{
    0%{
        background-color:rgba(25,181,254,0.97);
    }

    100%{
        background-color:rgba(255,255,255,0.98);
    }
}

@-o-keyframes fadeG{
    0%{
        background-color:rgba(25,181,254,0.97);
    }

    100%{
        background-color:rgba(255,255,255,0.98);
    }
}

@-ms-keyframes fadeG{
    0%{
        background-color:rgba(25,181,254,0.97);
    }

    100%{
        background-color:rgba(255,255,255,0.98);
    }
}

@-webkit-keyframes fadeG{
    0%{
        background-color:rgba(25,181,254,0.97);
    }

    100%{
        background-color:rgba(255,255,255,0.98);
    }
}

@-moz-keyframes fadeG{
    0%{
        background-color:rgba(25,181,254,0.97);
    }

    100%{
        background-color:rgba(255,255,255,0.98);
    }
}